/*------------------GLOBAL-----------------*/
html {
    font-family: 'Alata';
    font-style: normal;
    font-weight: 400;
}

h2 {
    font-size: 24px;
    line-height: 33px;
}

p {
    Size: 16px;
    Line-height: 24px;
}

/* ------------------SEÇÕES ---------------*/

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 28px 30px;


    background: #C4C4C4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;

    background: #C4C4C4;
}

.descricao {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 32px;
    gap: 125px;

    background: #F3F3F3;
}

.listas {
    display:flex;
    flex-wrap: wrap;

}

ul, .lista {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-end;
}

.hobbies {
    Width: Hug (595px);
    Height: Hug (249px);
    Top: 20px;
    Left: 111.5px;
    Padding: 20px;

    text-align: right;
}
.jogos{
    Width: Hug (595px);
    Height: Hug (249px);
    Top: 20px;
    Left: 111.5px;
    Padding: 20px;
}

li, .itens {
    margin:10px;
    width: 104px;
    height: 150px;
    box-shadow: 5px 10px 5px gray;
    border-radius: 5px;
    background-color: #DFDFDF;

    /*texto*/
    font-size: 18px;
    text-align: center;
}

.num {
    background-color: #C4C4C4;
    z-index: 1;
    position: absolute;
    margin-left: 5px;
    padding: 10px 5px;
    border-radius: 0px 0px 5px 5px;
}

main .jogos img {
    width: 100%;
    height: 100%;
    position: relative;
}

main .jogos img:hover {
    opacity: 0.3;
    transition: 0.5s;
}

/*-----------DADOS ESPECÍFICOS------------ */

header > h1 {
    font-size: 40px;
    line-height: 55px;
}


#perfil {
    width: 247px;
    height: 247px;
    border-radius: 50%;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}

/* -----------Hover -----------------*/

#caminhar:hover {
    background-image: url(img/caminhar.webp);
    background-size: cover;
    
    color: transparent;
}

#pessoas:hover {
    background-image: url(img/amigos.webp);
    background-size: cover;
    
    color: transparent;
}

#consoles:hover {
    background-image: url(img/jogos.webp);
    background-size: cover;
    
    color: transparent;
}

#headphone:hover {
    background-image: url(img/headphone.jpg);
    background-size: cover;
    
    color: transparent;
}

#sudoku:hover {
    background-image: url(img/sudoku.jpg);
    background-size: cover;
    
    color: transparent;
}